* {
	box-sizing: border-box;
}

body {
	font-size: 1.3rem;
	line-height: 1.2;
	max-width: 60rem;
	margin: 0 auto;
	background-color: #c7d6ed;
}


#nav {
	padding: 1rem .5rem;
	margin: 0 auto;
	color: #32274d;
	text-align: center;
	border-bottom: 8px double #036082;
	margin-bottom: 2rem;
}

#content {
	overflow: auto;
	height: 100%;
}

#diskspace {
	padding: 1rem .5rem;
	margin: 0 auto;
}

li {
	display: inline;
}

@media screen and (min-width: 50rem) {
	body {
		border-left: 4px solid #d59858;
		border-right: 4px solid #d59858;
		padding: 1rem 2rem;
	}

}

