
<html>
	<head>
		<title>Tutorials</title>
		<meta name='viewport' content='width=device-width'>
		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="styles/home_space.css") }}'>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li><a href='{{ url_for("main.index") }}'>Home</a></li>
				</ul>
			</div>
		</div>
		<div id='content'>
			<div id='homespace'>
				<h1>Homespace Report</h1>
				
		<h2 class=Message>Home Space Utilization (pi)</h2>
		<pre class=Message>4.3G	/home/pi</pre>
		
			</div>
	</body>
</html>

