
<html>
	<head>
		<title>Tutorials</title>
		<meta name='viewport' content='width=device-width'>
		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="styles/index.css") }}'>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li><a href='{{ url_for("main.index") }}'>Home</a></li>
				</ul>
			</div>
		</div>
		<div id='content'>
			<div id='integer'>
				<h4>Integer Classification</h4>
			
				<form action="" method="post" novalidate>
					{{ form.hidden_tag() }}
					<p>
						{{ form.integer.label }}<br>
						{{ form.integer(style="width: 12rem; padding: 1rem .5rem;") }}<br>
						{% for error in form.integer.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>
						{{ form.count.label }}<br>
						{{ form.count(style="width: 12rem; padding: 1rem .5rem;") }}<br>
						{% for error in form.count.errors %}
						<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
					</p>
					<p>{{ form.submit(style="width: 4rem; padding: .5rem .25rem;") }}</p>
				</form>
			</div>
			<div class="uptime">
				<p><a href='{{ url_for("main.uptime") }}'>View the Uptime Report</a></p>
			</div>
			<div class="diskSpace">
				<p><a href='{{ url_for("main.disk_space") }}'>View the Diskpace Report</a></p>
			</div>
			<div class="homeSpace">
				<p><a href='{{ url_for("main.home_space") }}'>View the Homespace Report</a></p>
			</div>
		</div>
	</body>
</html>

