
<html>
	<head>
		<title>Tutorials</title>
		<meta name='viewport' content='width=device-width'>
		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="styles/index.css") }}'>
	</head>
	<body>
		<div class='Opening'>
			<h1 class='Left'>Look at me raspberrypi !!!</h1>
			<h1 class='Right'>No, look at me /home/pi</h1> 
		</div>
		<form action="" method="post" novalidate>
			{{ form.hidden_tag() }}
			<p>
				{{ form.integer.label }}<br>
				{{ form.integer(size=32) }}<br>
				{% for error in form.integer.errors %}
				<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>{{ form.submit() }}</p>
		</form>
		<div class="Header">
			<h2 class="FirstRefrain">This is a refrain for raspberrypi</h2>
			<h2 class="SecondRefrain">This is a refrain for raspberrypi</h2>
		</div>
		<p class="Message">Generated 07/02/2023 09:38:29 PM EDT by pi</p>
		
	<h2 class=Message>System Uptime</h2>
	<pre class=Message> 21:38:29 up  1:20,  2 users,  load average: 0.70, 0.41, 0.30</pre>
	
		
	<h2 class=Message>Disk Space Utilization</h2>
	<pre class=Message>Filesystem      Size  Used Avail Use% Mounted on
/dev/root        15G   13G  1.1G  93% /
devtmpfs        1.8G     0  1.8G   0% /dev
tmpfs           1.9G   38M  1.9G   2% /dev/shm
tmpfs           1.9G  8.6M  1.9G   1% /run
tmpfs           5.0M  4.0K  5.0M   1% /run/lock
tmpfs           1.9G     0  1.9G   0% /sys/fs/cgroup
/dev/mmcblk0p1  253M   49M  204M  20% /boot
tmpfs           384M  4.0K  384M   1% /run/user/1000</pre>
	
		
		<h2 class=Message>Home Space Utilization (pi)</h2>
		<pre class=Message>4.1G	/home/pi</pre>
		
		<p class="Message">Hi pi! You need to check your prompt!</p>
	</body>
</html>

