
<html>
	<head>
		<title>Tutorials</title>
		<meta name='viewport' content='width=device-width'>
		<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="styles/integer_input.css") }}'>
	</head>
	<body>
		<div id='opening'>
			<div id='nav'>
				<ul>
					<li><a href='{{ url_for("main.index") }}'>Home</a></li>
				</ul>
			</div>
		</div>
		<div id='content'>
			<div id='integer'>
				<p>Integer Classification</p>
				<p>The integer is 4</p>
				<p>
			<p>Our integer is positive</p>
			</p>
				<p>Multiplying 4 by 9! gives us</p>
				<p>1451520</p>
			</div>
	</body>
</html>

